*
{
	margin:0;
	padding:0;
}
input[name="title"]
{
	font-size:1.8em;
	font-weight:bold;
	font-family:Adobe Gothic Std B;
	border:0 solid  #000000;
	margin-top:15px;
	margin-bottom:5px;
	margin-left:30px;
	width:600px;
}
.btn-publish
{
	display:inline-block;
    transform: translate(570px,-58px);
}
.publish{
	
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 999em;
	cursor: pointer;
	height: 45px;
	width: 152px;
	vertical-align: middle;
	padding-left: 12px;
	padding-right:10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color:#02b875;
	border-color: #02b875;
	margin-left:620px;
	margin-top:0px;
	}
.publish:hover{
	color:#00ef73;
	border-color: #00ef73;
}
.aType{
	border-radius: 50%;
    display: inline-block;
    padding-bottom: -14px;
    padding-left: 620px;
    /* display: block; */
    /* font-size: 1.7em; */
    transform: translate(385px,-35px);
}
table:
{
	transform: translateY(-35px);
}
.cke_1_contents{
	height:512px;
}
#cke_content
{
	 transform: translateY(-35px);
}
select
{
	font-size: 1.3em;
    border-radius: 999em;
    padding: 0 4px;
}
