/**
	文件描述：用户界面的基本样式
	
	创建时间：２０１５年１２月２２日１４：３５：５１

*/
*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}
a{
	text-decoration:none;
	display:inline-block;
}
ul{
	list-style: none;
}
a:hover
{
text-decoration:none;
}
/**导航部分的样式*/
.nav
{
	height: 65px;
	background: rgba(0,0,0,0.6);
	display: inline;
}
.nav-left{
	height: 100%;
	width: 600px;
	background: rgb(253,252,244);
}
.nav-list
{
	list-style: none;
	height: 100%;
}
.nav-item{
	height: 65px;
	width:84px;
	float: left;
}
.nav-right{
	float: right;
	height: 100%;
	width: 530px;
	display:inline-block;
}
.search{
	border:1px solid rgba(0,0,0,0.2);
	border-radius: 50em;
	margin: auto;
	display:inline-block;
	padding-right:20px;
	marigin-right:10px;
}
.search input{
	width:150px;
	border:0;
}
.search a {
	/*background-image:"/res/imgs/search-default.png";*/
}
.write,.login-reg{
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 999em;
	cursor: pointer;
	height: 37px;
	width: 112px;
	margin: auto;
	vertical-align: middle;
}
.write{
	padding-left:38px;
	padding-top:8px;
	color: rgba(0,0,0,0.44);
}
.write:hover{
	color: rgba(0,0,0,0.74);
	border: 1px solid rgba(0,0,0,0.75);
}
.login-reg{
	padding-left: 30px;
	padding-top: 8px;
	color:#02b875;
	border-color: #02b875;
}
.login-reg:hover
{
	color:#00ef73;
	border-color: #00ef73;
}
/**文章主体部分的样式*/
.article{
	width: 600px;
	height: 500px;
	/*background: gray;*/
	margin-bottom: 2px;
	border-bottom:2px solid rgba(0,0,0,0.2);
}
.sidebar{
	height: 2000px;
	width: 400px;
	padding: 0 30px 60px;
	box-shadow: -1px 0 1px -2px rgba(0,0,0,0.9);
	background-color: #fafafa;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 65px;
}
.sidebar-container{
	width: 340px;
	height: 329px;
	background: rgba(0,0,0,0.1);
	position: absolute;
}
.footer{
	position: absolute;
	bottom: 5px;
	width: 100%;
	padding-left: 15px;
}
.footer>a{
	width: 24%;
}


/*login.html部分样式*/
.overlay{
	-webkit-transform-origin:bottom;
	-webkit-animation: onload 0.75s ;
	-o-animation: onload 0.75s;
	animation: onload 0.75s;
	animation-timing-function:linear;
	margin: auto;
    position: fixed;
    overflow: auto;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 900;
    background-color: rgba(255,255,255,0.97);
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background: #f0f0f0;
    opacity: 60%;
}
.close{
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 3em;
	font-weight: lighter;
}
input
{
	height: 35px;
	width: 225px;
	border: 1px solid #CCCCCC;
	border-radius: 0em;
}
.container{
	margin: auto;
	padding-top: 230px;
}
h2{
	font-family: sans-serif;
	font-weight:bolder;
	font-size: 3em;
}
h4{
	padding-top: 5px;
	color: gray;
}
.overlay a{
	
	margin-top: 20px;
	padding-top: 8px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 999em;
	cursor: pointer;
	height: 37px;
	width: 112px;
	vertical-align: middle;
	
}
.login{
	color:#02b875;
	border-color: #02b875;
}
.login:hover{
	color:#00ef73;
	border-color: #00ef73;
}
.cancel{
	color: rgba(0,0,0,0.44);
}
.cancel:hover{
	color: rgba(0,0,0,0.74);
	border: 1px solid rgba(0,0,0,0.75);
}

/*动画属性*/
@keyframes onload
{
	0%   {-webkit-transform:rotateX(90deg);}
	50%  {-webkit-transform:rotateX(45deg);}
	100% {-webkit-transform:rotateX(0deg);}
}