/**
	文件描述：用户界面的基本样式
	
	创建时间：２０１５年１２月２２日１４：３５：５１

*/
*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}
input：focus{
    outline:none;
    inline:none;
}
a{
	color:black;
	text-decoration:none;
	display:inline-block;
}
ul{
	list-style: none;
}
a:hover
{
text-decoration:none;
}
/**导航部分的样式*/
.nav
{
	height: 65px;
	background: rgba(0,0,0,0.6);
	display: inline;
}
.nav-left{
	height: 100%;
	width: 600px;
	background: rgb(253,252,244);
}
.nav-list
{
	list-style: none;
	height: 100%;
}
.nav-item{
	height: 65px;
	width:84px;
	float: left;
}
.nav-right{
	float: right;
	height: 100%;
	width: 530px;
	display:inline-block;
}
.search{
	border:1px solid rgba(0,0,0,0.2);
	border-radius: 50em;
	margin: auto;
	display:inline-block;
	padding-right:20px;
	marigin-right:10px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .075);
}
.search-btn{
	cursor:pointer;
}
.search input{
	width:150px;
	border:0;
}
.search a {
	/*background-image:"/res/imgs/search-default.png";*/
}
.write,.login-reg{
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 999em;
	cursor: pointer;
	height: 37px;
	width: 112px;
	margin: auto;
	vertical-align: middle;
}
.write{
	margin-left:10px;
	margin-right:18px;
	padding-left:38px;
	padding-top:8px;
	color: rgba(0,0,0,0.44);
}
.write:hover{
	color: rgba(0,0,0,0.74);
	border: 1px solid rgba(0,0,0,0.75);
}
.login-reg{
	padding-left: 30px;
	padding-top: 8px;
	color:#02b875;
	border-color: #02b875;
}
.login-reg:hover
{
	color:#00ef73;
	border-color: #00ef73;
}
.add-on,.loginpic{
	font-size:1.4em;
	cursor:pointer;
}
.icon-bell-alt{
	margin-top:10px;
}
.add-on:hover{
	color:blue;
}
.loginpic{
	display:inline-block;
	width:25px;
	height:25px;
	background:red;
	border-radius:50%;
	margin-left:40px;
	transform:translateY(10px);
}
.loginpic img{
	width:100%;
	height:100%;
}
/**文章主体部分的样式*/
.article{
	overflow:hidden;
	width: 600px;
	height: 400px;
	background: rgba(0,0,0,0.1);
	margin-bottom: 10px;
	border-bottom:2px solid rgba(0,0,0,0.2);
}
.article .profile{
	width:45px;
	height:45px;
	margin-top:5px;
	margin-left:5px;
	background-image:-webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.7) 100%);
	border-radius:50%;
	
}
.article .author,.article .tag{
	cursor:pointer;
	color:#02b875;
	margin-left:10px;
	transform:translateY(-25px);
}
.article .tag
{	margin-left:20px;
}
.readcount,.publishtime{
	transform:translateY(-105px);
	transform:translateX(-110px);
	font-color:gray;
}
.a-top{
	position:relative;
}
.sidebar{
	height: 380px;
	width: 400px;
	padding: 0 30px 60px;
	box-shadow: -1px 0 1px -2px rgba(0,0,0,0.9);
	background-color: #fdfdfd;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 85px;
	margin-right:20px;
}
.sidebar-container{
	width: 340px;
	height: 329px;
	position: absolute;
}
.footer{
	position: absolute;
	bottom: 5px;
	width: 100%;
	padding-left: 15px;
}
.footer>a{
	width: 24%;
}


/*login.html部分样式*/
.overlay{
	-webkit-transform-origin:bottom;
	-webkit-animation: onload 0.75s ;
	-o-animation: onload 0.75s;
	animation: onload 0.75s;
	animation-timing-function:linear;
	margin: auto;
    position: fixed;
    overflow: auto;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 900;
    background-color: rgba(255,255,255,0.97);
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background: #f0f0f0;
    opacity: 20%;
}
.close{
	width:45px;
	height:45px;
	opacity:100%;
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 3em;
	font-weight: lighter;
}
input
{
	height: 35px;
	width: 225px;
	border: 1px solid #CCCCCC;
	border-radius: 0em;
}
.profile
{
	
}
.container{
	margin: auto;
	padding-top: 20px;
	padding-left:50px;
}
.overlay-login,.overlay-mailsent{
	padding-top:200px;
}
h2{
	font-family: sans-serif;
	font-weight:bolder;
	font-size: 3em;
}
h4{
	padding-top: 5px;
	color: gray;
}
.content{
	cursor:pointer;
}
.overlay a{	
	margin-top: 20px;
	padding-top: 8px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 999em;
	cursor: pointer;
	height: 37px;
	width: 112px;
	vertical-align: middle;
	
}
.login{
	color:#02b875;
	border-color: #02b875;
}
.login:hover{
	color:#00ef73;
	border-color: #00ef73;
}
.cancel{
	color: rgba(0,0,0,0.44);
}
.cancel:hover{
	color: rgba(0,0,0,0.74);
	border: 1px solid rgba(0,0,0,0.75);
}
.question{
	margin-left:30px;
}

/*sidebar*/
.tags h2
{
	font-size:1.6em;
	margin-bottom:15px;
}
.tags-item
{
    font-weight: 400;
    font-style: normal;
    color: rgba(0,0,0,0.44);
    font-size: 13px;
    letter-spacing: 0;
    text-decoration: none;
    background: #fafafa;
    border-radius: 999em;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 5px 10px;
    margin-right:8px;
    margin-bottom:14px;
}
.tags-item:hover{
	cursor:pointer;
}
.footer a
{
	color:rgba(0,0,0,0.15);
}
.footer a:hover
{
	text-decoration:underline;
	color:rgba(0,0,0,0.75);
}
/*动画属性*/
@keyframes onload
{
	0%   {-webkit-transform:rotateX(90deg);}
	50%  {-webkit-transform:rotateX(45deg);}
	100% {-webkit-transform:rotateX(0deg);}
}