/**
	文件描述：用户界面的基本样式
	
	创建时间：２０１５年１２月２２日１４：３５：５１

*/
*{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}
input：focus{
    outline:none;
    inline:none;
}
a{
	color:black;
	text-decoration:none;
	display:inline-block;
}
ul{
	list-style: none;
}
a:hover
{
text-decoration:none;
}
/**导航部分的样式*/
.nav
{
	height: 65px;
	background: rgba(0,0,0,0.6);
	display: inline;
}
.nav-left{
	height: 100%;
	width: 600px;
	background: rgb(253,252,244);
}
.nav-list
{
	list-style: none;
	height: 100%;
}
.nav-item{
	height: 65px;
	width:84px;
	float: left;
}
.nav-right{
	float: right;
	height: 100%;
	width: 530px;
	display:inline-block;
}
.search{
	border:1px solid rgba(0,0,0,0.2);
	border-radius: 50em;
	margin: auto;
	display:inline-block;
	padding-right:20px;
	marigin-right:10px;
}
.search-btn{
	cursor:pointer;
}
.search input{
	width:150px;
	border:0;
}
.search a {
	/*background-image:"/res/imgs/search-default.png";*/
}
.write,.login-reg{
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 999em;
	cursor: pointer;
	height: 37px;
	width: 112px;
	margin: auto;
	vertical-align: middle;
}
.write{
	margin-left:10px;
	margin-right:18px;
	padding-left:38px;
	padding-top:8px;
	color: rgba(0,0,0,0.44);
}
.write:hover{
	color: rgba(0,0,0,0.74);
	border: 1px solid rgba(0,0,0,0.75);
}
.login-reg{
	padding-left: 30px;
	padding-top: 8px;
	color:#02b875;
	border-color: #02b875;
}
.login-reg:hover
{
	color:#00ef73;
	border-color: #00ef73;
}
/**文章主体部分的样式*/
.article{
	width: 600px;
	height: 500px;
	background: rgba(0,0,0,0.1);
	margin-bottom: 10px;
	border-bottom:2px solid rgba(0,0,0,0.2);
}
.article .profile{
	width:45px;
	height:45px;
	margin-top:5px;
	margin-left:5px;
	background-image:-webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.7) 100%);
	border-radius:50%;
	
}
.article .author,.article .tag{
	cursor:pointer;
	color:#02b875;
	margin-left:10px;
	transform:translateY(-25px);
}
.article .tag
{	margin-left:20px;
}
.readcount,.publishtime{
	transform:translateY(-105px);
	transform:translateX(-122px);
	font-color:gray;
}
.a-top{
	position:relative;
}
.sidebar{
	height: 2000px;
	width: 400px;
	padding: 0 30px 60px;
	box-shadow: -1px 0 1px -2px rgba(0,0,0,0.9);
	background-color: #fafafa;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 65px;
}
.sidebar-container{
	width: 340px;
	height: 329px;
	background: rgba(0,0,0,0.1);
	position: absolute;
}
.footer{
	position: absolute;
	bottom: 5px;
	width: 100%;
	padding-left: 15px;
}
.footer>a{
	width: 24%;
}


/*login.html部分样式*/
.overlay{
	-webkit-transform-origin:bottom;
	-webkit-animation: onload 0.75s ;
	-o-animation: onload 0.75s;
	animation: onload 0.75s;
	animation-timing-function:linear;
	margin: auto;
    position: fixed;
    overflow: auto;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    z-index: 900;
    background-color: rgba(255,255,255,0.97);
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background: #f0f0f0;
    opacity: 20%;
}
.close{
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 3em;
	font-weight: lighter;
}
input
{
	height: 35px;
	width: 225px;
	border: 1px solid #CCCCCC;
	border-radius: 0em;
}
.container{
	margin: auto;
	padding-top: 20px;
	padding-left:50px;
}
.overlay-login,.overlay-mailsent{
	padding-top:200px;
}
h2{
	font-family: sans-serif;
	font-weight:bolder;
	font-size: 3em;
}
h4{
	padding-top: 5px;
	color: gray;
}
.overlay a{	
	margin-top: 20px;
	padding-top: 8px;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 999em;
	cursor: pointer;
	height: 37px;
	width: 112px;
	vertical-align: middle;
	
}
.login{
	color:#02b875;
	border-color: #02b875;
}
.login:hover{
	color:#00ef73;
	border-color: #00ef73;
}
.cancel{
	color: rgba(0,0,0,0.44);
}
.cancel:hover{
	color: rgba(0,0,0,0.74);
	border: 1px solid rgba(0,0,0,0.75);
}
/* 左侧栏文章列表 */
.bloglist h2 { border-bottom: #474645 2px solid; margin: 0 8px 20px 8px; height: 26px; overflow: hidden; line-height: 28px; font-size: 16px; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; letter-spacing: 2px }
.bloglist h2 p { background: #474645; width: 180px; color: #fff; text-align: center; box-shadow: #999 4px 5px 1px; }
.bloglist h2 p span { color: #38b3d4; }
.blogs { margin: 0 20px 20px 20px; position: relative; }
.blogs h3 { font-size: 14px; font-weight: bold; margin-bottom: 15px; transition: all .5s }
.blogs h3 a { color: #474645; }
.blogs h3:hover { text-decoration: underline }
.blogs figure { float: left; width: 25%; overflow: hidden; }
.blogs figure img { width: 100%; margin: auto; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.blogs figure:hover img { -moz-transform: scale(1.1); -webkit-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); }
.blogs ul { float: right; line-height: 20px; width: 72%; color: #474645; }
.blogs ul:hover { cursor: pointer; }
.autor { overflow: hidden; clear: both; margin: 10px 0 0 0; display: inline-block; line-height: 26px; height: 26px; color: #838383; background: #f6f6f6; width: 100% }
.autor span { margin: 0 10px; }
.autor span a { color: #759b08; }
a.readmore { background: #e41635; color: #fff; padding: 5px 10px; float: right; margin: 20px 0 0 0 }
.blogs::before { content: ""; width: 10px; height: 10px; border-radius: 50%; position: absolute; background: #cac1c1; border: 2px solid #fff; left: -27px; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s; }
.blogs:hover::before { background: #474645 }
.dateview { position: absolute; left: -125px; top: 0px; z-index: 1; color: #F5F5F5; }
.blogs::after { content: ""; width: 121px; height: 29px; position: absolute; left: -148px; top: -9px; z-index: 0; background: #474645 url(../images/ti.png) no-repeat; opacity: 0; -webkit-transition: all 1s; -moz-transition: all 1s; -o-transition: all 1s; transition: all 1s; }
.blogs:hover::after { opacity: 1 }
/* 右侧栏个人档案 */
.avatar { margin: 10px auto; width: 160px; height: 160px; border-radius: 100%; overflow: hidden; }
.avatar a { display: block; padding-top: 100px; width: 160px; background: url(../images/photos.jpg) no-repeat; background-size: 160px 160px; }
.avatar a span { display: block; margin-top: 63px; padding-top: 8px; width: 160px; height: 55px; text-align: center; line-height: 20px; color: #fff; background: rgba(0, 0, 0, .5); -webkit-transition: margin-top .2s ease-in-out; -moz-transition: margin-top .2s ease-in-out; -o-transition: margin-top .2s ease-in-out; transition: margin-top .2s ease-in-out; }
.avatar a:hover span { display: block; margin-top: 0; }
.topspaceinfo { background: #e41635; padding: 40px 20px; color: #fff; text-shadow: 1px 1px rgba(0,0,0,.3); }
.topspaceinfo h1 { font-size: 16px; line-height: 40px; font-weight: bold; }
.about_c { margin: 10px 0; color: #fff; line-height: 26px; }
.about_c p:first-child, .about_c p:nth-child(2), .about_c p:nth-child(3), .about_c p:nth-child(4), .about_c p:last-child { background: url(../images/about_c.png) no-repeat; }
.about_c p:first-child { background-position: 15px 6px; }
.about_c p:nth-child(2) { background-position: 15px -20px }
.about_c p:nth-child(3) { background-position: 15px -48px }
.about_c p:nth-child(4) { background-position: 15px -70px }
.about_c p:last-child { background-position: 15px -97px }
.about_c p { display: block; padding-left: 40px; }
.about_c p:hover { background: #222 }
.bdsharebuttonbox { margin: 20px; clear: both; }/* 百度分享 */
/* 右侧推荐信息列表 */
.tj_news h2, .links h2 { font-size: 16px; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; color: #FFF; }
.tj_news h2 p, .links h2 p { height: 40px; line-height: 40px; width: 100px; padding: 0 0 0 30px; border-radius: 0 20px 20px 0; text-shadow: rgba(0,0,0,.65) 1px 1px; }
.tj_t1 { background: #0f9c7c }
.tj_t2 { background: #b0e516 }
.tj_news ul { margin: 20px 0 20px 20px }
.tj_news ul li a:hover, .links ul li a:hover { text-decoration: underline; color: #FFF }
.tj_news ul li { height: 25px; line-height: 25px; clear: both; padding-left: 5px; overflow: hidden; padding-left: 15px; background: url(../images/li.jpg) no-repeat left center; }
.tj_news ul li a, .links ul li a { color: #bbbbbb; }
/* 友情链接 */
.links h2 p { background: #222 }
.links ul { margin: 20px 0 }
.links ul li { height: 30px; line-height: 30px; text-align: center; border-bottom: #333 1px dashed; margin: 0 40px; }

/*动画属性*/
@keyframes onload
{
	0%   {-webkit-transform:rotateX(90deg);}
	50%  {-webkit-transform:rotateX(45deg);}
	100% {-webkit-transform:rotateX(0deg);}
}